settings/xtreamly-ai-vertexai.json
settings/xtreamly-ai-cc418ba37b0c.json
settings/gcp-mail.json
data
data/*
.env
modules.txt
globalUtils/database/xtreamly-ai-3bdeeea870af-bigquery-read-only.json

.DS_Store
.idea/
venv/

__pycache__